<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>時間割管理アプリ</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <style>
      .chart-container {
        width: 70%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Todoを追加</h1>
    <form method="post">
      <div>
        <label>期限</label>
        <input type="datetime-local" name="deadline" required />
      </div>

      <div>
        <label>授業名</label>
        <select name="classwork_id" required>
          <option value="">選択してください</option>
          {% for c in classworks %}
            <option value="{{ c.id }}">{{ c.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label>内容</label>
        <input type="text" name="name" required />
      </div>

      <br />
      <button type="button" onclick="location.href='/'">戻る</button>
      <button type="submit">登録</button>
    </form>
  </body>
</html>
